USE [master]
GO
/****** Object:  Database [TP_04]    Script Date: 12/8/2026 08:53:31 ******/
CREATE DATABASE [TP_04]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP_04', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP_04.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP_04_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP_04_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP_04].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP_04]
GO
/****** Object:  User [alumno]    Script Date: 12/8/2026 08:53:31 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 12/8/2026 08:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[nombreUsuario] [text] NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[nombre] [text] NOT NULL,
	[apellido] [text] NOT NULL,
	[tipoUsuario] [text] NOT NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
